@{
    ViewData["Title"] = "Home";
}
<h1 class="site-title text-center mt-4">Arab Cuisine</h1>
<p class="tagline text-center">Traditional Arab Foods</p>
<div class="country-container">

    <a class="country-card" data-name="iraq dolma masqouf quzi biryani"
       href="/Country/Categories?name=Iraq">
        <img src="/images/iraq.png" alt="Iraq" />
        <p>Iraq</p>
    </a>

    <a class="country-card" data-name="syria kibbeh"
       href="/Country/Categories?name=Syria">
        <img src="/images/syria.png" alt="Syria" />
        <p>Syria</p>
    </a>

    <a class="country-card" data-name="jordan mansaf"
       href="/Country/Categories?name=Jordan">
        <img src="/images/jordan.png" alt="Jordan" />
        <p>Jordan</p>
    </a>

    <a class="country-card" data-name="morocco couscous tagine"
       href="/Country/Categories?name=Morocco">
        <img src="/images/morocco.png" alt="Morocco" />
        <p>Morocco</p>
    </a>

    <a class="country-card" data-name="palestine musakhan"
       href="/Country/Categories?name=Palestine">
        <img src="/images/palestine.png" alt="Palestine" />
        <p>Palestine</p>
    </a>


</div>
