html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.category-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.category-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100px;
    background-color: #f5f5f5;
    border-radius: 12px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

.category-card:hover {
    background-color: #e0c28c;
    color: #000;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.recipe-card {
  display: block;
  background: #fff;
  border-radius: 16px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

.recipe-card:hover {
    transform: translateY(-5px);
    background-color: #e0c28c;
    text-decoration: inherit;
}

.recipe-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.recipe-card p {
    margin-top: 12px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}


.country-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.country-card {
    width: 220px;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.country-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 14px;
}

.country-card p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

.recipe-detail {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.recipe-detail img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 16px;
    margin: 20px 0;
}

.recipe-detail h4 {
    margin-top: 25px;
    text-align: left;
}

.recipe-detail ul,
.recipe-detail ol {
    text-align: left;
}

.detail-image {
    width: 350px;
    max-width:100%;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}
.recipe-detail-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-top: 30px;
}

.recipe-image img {
    width: 280px;
    height: auto;
    border-radius: 12px;

}

.recipe-info {
    max-width: 500px;
}

.recipe-title {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
}

.site-title {
    font-size: 3.5rem;
    font-weight: 800;
    color: #8b4513;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.tagline {
    font-size: 1.4rem;
    margin-top: -8px;
    font-weight: 500;
    color: #5a3a1b;
    letter-spacing: 2px;
}